export default {
  cognito: {
    REGION: '%AWS_REGION%',
    USER_POOL_ID: '%USER_POOL_ID%',
    APP_CLIENT_ID: '%APP_CLIENT_ID%',
    IDENTITY_POOL_ID: '%IDENTITY_POOL_ID%',
    SUPERADMIN_GROUP_NAME: '%SUPERADMIN_GROUP_NAME%',
    COGNITO_IP: 'cognito-idp.%AWS_REGION%.amazonaws.com/%USER_POOL_ID%',
    DOMAIN_URL: '%DOMAIN_URL%',
    SAML_IDP_NAME: '%SAML_IDP_NAME%',
    SSO_REDIRECT_SIGN_IN_URL: '%SSO_REDIRECT_SIGN_IN_URL%',
    SUPERADMIN_GROUP_KEY: '%SUPERADMIN_GROUP_KEY%'
  },
};
 